*{
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100;
    min-height: 100vh;
    background: #020024;
    background: linear-gradient(270deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    padding: 10px;
}
.To-do-app{
    width: 100%;
    max-width: 540px;
    background-color: #53a4f4;
    /* background: transparent; */
    /* opacity: 0.6; */
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.To-do-app h2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    /* font-weight: bold; */
    color: #090979;
}

.To-do-app h2 img{
    width: 45px;
    height: 45px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #b2cdf1;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #1a1a51;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-image: url(img/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 8px;
}

ul li.checked{
    color: #1a1a51;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(img/check.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 3px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color:#020024;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #b2cdf1;
}